@{
    ViewData["Title"] = "Acesso negado";
}

<div class="uk-section">
    <div class="uk-container uk-container-small">
        <div class="uk-card uk-card-default uk-card-body uk-box-shadow-medium">
            <h1 class="uk-card-title">Acesso negado</h1>
            <p>Você não tem permissão para acessar esta funcionalidade.</p>

            <a asp-controller="Home" asp-action="Index" class="uk-button uk-button-default">
                Voltar para o início
            </a>
        </div>
    </div>
</div>